.ipynb_checkpoints/240801_6-checkpoint.ipynb
/.idea/pythonExam.iml
/.idea/libraries/font.xml
/.idea/libraries/Gmail.xml
/.idea/misc.xml
/.idea/modules.xml
/202407/20240704/.ipynb_checkpoints/test2-checkpoint.ipynb
/.idea/vcs.xml
.idea/compiler.xml
ex/py/cvdir/cv_dl/ch10/slow_traffic_small.mp4
ex/py/cvdir/cv_dl/ch9/xception_pascalvoc.pb
ex/py/cvdir/cv_dl/ch9/yolov3.cfg
ex/py/cvdir/cv_dl/ch9/yolov3.weights
ex/py/cvdir/img/walking.avi
